<h1 id="tableLabel">Movies</h1>

<p *ngIf="isLoding"><em>Loading...</em></p>
<div class="row">
  <div class="col">
    <input type="text" class="form-control txt-search" placeholder="Search movie" name="search" [(ngModel)]="search">
  </div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="!isLoding">
  <thead>
    <tr class="row">
      <th class="col-1" (click)="sortByColumn('id')">Id
        <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc' && columnName=='id'"></i>
        <i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc' && columnName=='id'"></i>
        <ng-content></ng-content>
      </th>
      <th class="col-4" (click)="sortByColumn('title')">Title
        <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc' && columnName=='title'"></i>
        <i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc' && columnName=='title'"></i>
        <ng-content></ng-content>
      </th>
      <th class="col-2" (click)="sortByColumn('year')">Year
        <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc' && columnName=='year'"></i>
        <i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc' && columnName=='year'"></i>
        <ng-content></ng-content>
      </th>
      <th class="col-2" (click)="sortByColumn('rating')">Rating
        <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc' && columnName=='rating'"></i>
        <i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc' && columnName=='rating'"></i>
        <ng-content></ng-content>
      </th>
      <th class="col-3" (click)="sortByColumn('franchise')">Franchise
        <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc' && columnName=='franchise'"></i>
        <i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc' && columnName=='franchise'"></i>
        <ng-content></ng-content>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of pageOfItems"  class="row">
      <td class="col-1">{{ movie.id }}</td>
      <td class="col-4">{{ movie.title }}</td>
      <td class="col-2">{{ movie.year }}</td>
      <td class="col-2">{{ movie.rating }}</td>
      <td class="col-3">{{ movie.franchise }}</td>
    </tr>
  </tbody>
  <div class="pagination row">
    <app-pagination [pageSize]="6"
  [items]="movies"
  [columnName]="columnName"
  [sortDirection]="sortDirection"
  (changePage)="onChangePage($event)"
  (searchResult)="onFilterChange($event)"
  (sortResult)="onSortChange($event)"
  [searchString]="search"
  ></app-pagination>
  </div>
</table>